{
  "openapi": "3.0.1",
  "info": {
    "title": "Wuro API",
    "description": "API de votre espace Wuro, connectez-vous sur https://wuro.pro,\ndans les paramètres de votre entreprise \"Développeurs (API)\",\ncréez une application avec un scope défini afin de demander un jeton d'accès\n(GET accessToken) avec vos identifiants",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://wuro.pro/api/v1"
    },
    {
      "url": "https://api.fwattier.devawelty.com/v1/"
    }
  ],
  "paths": {
    "/accessToken": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "Get an access token",
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "Application ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_secret",
            "in": "query",
            "description": "Application secret key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vat-rates": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "description": "Available VAT rates",
        "responses": {
          "200": {
            "description": "VAT rates response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatRatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-methods": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Available payment methods",
        "responses": {
          "200": {
            "description": "Payment methods response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/company/{companyId}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Get a company",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/document-models": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Get logged account document models",
        "responses": {
          "200": {
            "description": "Document models response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentModelsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/invoice/{invoiceId}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "description": "Retrieve an invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Invoice ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/invoice": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "description": "Add a invoice",
        "requestBody": {
          "description": "invoice to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Invoice supplied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product-categories": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Returns all product categories",
        "responses": {
          "200": {
            "description": "Product categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCategoriesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product-category": {
      "post": {
        "tags": [
          "Products"
        ],
        "description": "Add a product category",
        "requestBody": {
          "description": "Product category to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCategory"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Product category created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCategoryCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Product Category supplied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product-category/{productCategoryId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Get a product category",
        "parameters": [
          {
            "name": "productCategoryId",
            "in": "path",
            "description": "Product Category UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product category response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Product category not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "description": "Update a product category",
        "parameters": [
          {
            "name": "productCategoryId",
            "in": "path",
            "description": "Product Category UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Product category to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCategory"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Product category update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCategoryUpdatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Product category not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Returns all products",
        "responses": {
          "200": {
            "description": "Products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product": {
      "post": {
        "tags": [
          "Products"
        ],
        "description": "Add a product",
        "requestBody": {
          "description": "Product to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Product supplied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/product/{productId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Get a product",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Product UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "description": "Update a product",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Product UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Product to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Product update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductUpdatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "description": "Returns all clients",
        "responses": {
          "200": {
            "description": "Clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/client": {
      "post": {
        "tags": [
          "Clients"
        ],
        "description": "Add a client",
        "requestBody": {
          "description": "Client to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Client supplied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication information is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/client/{clientId}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "description": "Get a client",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "Client UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Clients"
        ],
        "description": "Update a client",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "Client UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Client to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Client update response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientUpdatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credentials error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessTokenResponse": {
        "required": [
          "token",
          "success"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Access token"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ErrorResponse": {
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "token": {
            "type": "boolean",
            "description": "Always false"
          },
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "VatRate": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          },
          "__v": {
            "type": "number"
          }
        }
      },
      "VatRatesResponse": {
        "required": [
          "vat_rates",
          "success"
        ],
        "properties": {
          "vat_rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VatRate"
            }
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "Payment": {
        "type": "object",
        "required": [
          "mode",
          "amount",
          "method_name",
          "date"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "method_name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "company": {
            "type": "number"
          },
          "tag": {
            "type": "string"
          },
          "__v": {
            "type": "number"
          }
        }
      },
      "PaymentMethodsResponse": {
        "required": [
          "payment_methods",
          "success"
        ],
        "properties": {
          "payment_methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "DocumentModelsResponse": {
        "required": [
          "documentModels",
          "success"
        ],
        "properties": {
          "documentModels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentModel"
            }
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "DocumentModel": {
        "type": "object",
        "properties": {
          "header": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string"
              },
              "height": {
                "type": "number"
              },
              "margin": {
                "type": "number"
              }
            }
          },
          "footer": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string"
              },
              "color": {
                "type": "number"
              },
              "height": {
                "type": "number"
              },
              "margin": {
                "type": "number"
              }
            }
          },
          "_id": {
            "type": "string"
          },
          "main_color": {
            "type": "string"
          },
          "font_color": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "company": {
            "type": "string"
          }
        }
      },
      "CompanyResponse": {
        "type": "object"
      },
      "InvoiceLine": {
        "type": "object",
        "required": [
          "title",
          "description"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "product": {
            "type": "object"
          },
          "category": {
            "type": "object"
          },
          "image": {
            "type": "string"
          },
          "price_ht": {
            "type": "number"
          },
          "price_ttc": {
            "type": "number"
          },
          "quantity": {
            "type": "number"
          },
          "total_ht": {
            "type": "number"
          },
          "tva": {
            "type": "string"
          },
          "tva_rate": {
            "type": "number"
          },
          "discount_ht": {
            "type": "number"
          },
          "discount_type": {
            "type": "string"
          },
          "page": {
            "type": "number"
          },
          "order": {
            "type": "number"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "required": [
          "title",
          "client_name",
          "invoice_lines"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "date": {
            "type": "object"
          },
          "company": {
            "type": "object"
          },
          "category": {
            "type": "object"
          },
          "user": {
            "type": "object"
          },
          "currency": {
            "type": "object"
          },
          "payment_methods": {
            "type": "object"
          },
          "shipping": {
            "type": "object"
          },
          "invoice_lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceLine"
            },
            "minItems": 1
          },
          "display_expeditor": {
            "type": "boolean"
          },
          "num_tva": {
            "type": "string"
          },
          "client_code": {
            "type": "string"
          },
          "analytical_code": {
            "type": "string"
          },
          "currency_rate": {
            "type": "string"
          },
          "payment_expiry_date": {
            "type": "string"
          },
          "payment_date": {
            "type": "string"
          },
          "payment_method_name": {
            "type": "string"
          },
          "late_penalty_rate": {
            "type": "number"
          },
          "shipping_total_ht": {
            "type": "string"
          },
          "shipping_tva_rate": {
            "type": "string"
          },
          "shipping_total_tva": {
            "type": "number"
          },
          "shipping_method": {
            "type": "string"
          },
          "discount_total_ht": {
            "type": "string"
          },
          "discount_total_type": {
            "type": "string"
          },
          "total_ht_nodiscount": {
            "type": "number"
          },
          "total_ht": {
            "type": "number"
          },
          "total_ttc": {
            "type": "number"
          },
          "total_tva": {
            "type": "number"
          },
          "VATRates": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "comment": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "draft",
              "waiting",
              "paid",
              "notpaid",
              "late",
              "inactive"
            ]
          },
          "sale_date": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "company_contact": {
            "type": "string"
          },
          "company_siren": {
            "type": "string"
          },
          "company_nic": {
            "type": "string"
          },
          "company_share_capital": {
            "type": "number"
          },
          "company_commercial_court": {
            "type": "string"
          },
          "company_num_rcs": {
            "type": "string"
          },
          "company_num_trade_directory": {
            "type": "string"
          },
          "company_type": {
            "type": "string"
          },
          "company_address": {
            "type": "string"
          },
          "company_address_end": {
            "type": "string"
          },
          "company_zip_code": {
            "type": "string"
          },
          "company_city": {
            "type": "string"
          },
          "company_country": {
            "type": "string"
          },
          "company_phone": {
            "type": "string"
          },
          "company_fax": {
            "type": "string"
          },
          "company_email": {
            "type": "string"
          },
          "company_cgv": {
            "type": "string"
          },
          "company_include_cgv": {
            "type": "boolean"
          },
          "client_name": {
            "type": "string"
          },
          "client_contact": {
            "type": "string"
          },
          "client_address": {
            "type": "string"
          },
          "client_address_end": {
            "type": "string"
          },
          "client_zip_code": {
            "type": "string"
          },
          "client_city": {
            "type": "string"
          },
          "client_country": {
            "type": "string"
          },
          "client_phone": {
            "type": "string"
          },
          "client_fax": {
            "type": "string"
          },
          "client_email": {
            "type": "string"
          },
          "client_tva": {
            "type": "string"
          },
          "client_dom": {
            "type": "boolean"
          },
          "delivery_name": {
            "type": "string"
          },
          "delivery_contact": {
            "type": "string"
          },
          "delivery_address": {
            "type": "string"
          },
          "delivery_address_end": {
            "type": "string"
          },
          "delivery_zip_code": {
            "type": "string"
          },
          "delivery_city": {
            "type": "string"
          },
          "delivery_country": {
            "type": "string"
          },
          "delivery_phone": {
            "type": "string"
          },
          "delivery_fax": {
            "type": "string"
          },
          "delivery_email": {
            "type": "string"
          },
          "display_rules": {
            "type": "object"
          },
          "style": {
            "type": "object"
          },
          "hasReduction": {
            "type": "boolean"
          },
          "signature": {
            "type": "object"
          },
          "external_file": {
            "type": "string"
          },
          "pdf_link": {
            "type": "string"
          },
          "external_url": {
            "type": "string"
          },
          "payment_state": {
            "type": "string"
          },
          "payments": {
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          },
          "total_nettopay": {
            "type": "number"
          },
          "fromquote": {
            "type": "string"
          },
          "credit": {
            "type": "boolean"
          },
          "acompte": {
            "type": "boolean"
          },
          "documentModel": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "InvoiceCreatedResponse": {
        "required": [
          "new_invoice",
          "success"
        ],
        "properties": {
          "new_invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "InvoiceResponse": {
        "required": [
          "invoice",
          "success"
        ],
        "properties": {
          "new_invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ProductCategoriesResponse": {
        "required": [
          "product_categories",
          "success"
        ],
        "properties": {
          "product_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductCategory"
            }
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ProductCategory": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "parent_category": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "company": {
            "type": "string"
          }
        }
      },
      "ProductCategoryCreatedResponse": {
        "type": "object",
        "required": [
          "new_product_category",
          "success"
        ],
        "properties": {
          "new_product_category": {
            "$ref": "#/components/schemas/ProductCategory"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ProductCategoryUpdatedResponse": {
        "required": [
          "updatedProductCategory",
          "success"
        ],
        "properties": {
          "updatedProductCategory": {
            "$ref": "#/components/schemas/ProductCategory"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ProductCategoryResponse": {
        "required": [
          "product_category",
          "success"
        ],
        "properties": {
          "product_category": {
            "$ref": "#/components/schemas/ProductCategory"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ProductsResponse": {
        "required": [
          "products",
          "success"
        ],
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "Product": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "tva": {
            "type": "string"
          },
          "tva_rate": {
            "type": "number"
          },
          "ecotax": {
            "type": "number"
          },
          "cost_price": {
            "type": "number"
          },
          "price_ht": {
            "type": "number"
          },
          "analytical_code": {
            "type": "string"
          },
          "stock": {
            "type": "object",
            "properties": {
              "nb_stock": {
                "type": "number"
              },
              "nb_alert": {
                "type": "number"
              },
              "nb_min": {
                "type": "number"
              }
            }
          },
          "specifications": {
            "type": "object",
            "properties": {
              "width": {
                "type": "number"
              },
              "depth": {
                "type": "number"
              },
              "height": {
                "type": "number"
              },
              "weight": {
                "type": "number"
              }
            }
          },
          "image": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "mime": {
                "type": "string"
              }
            }
          },
          "url_ext": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ProductCreatedResponse": {
        "required": [
          "new_product",
          "success"
        ],
        "properties": {
          "new_product": {
            "$ref": "#/components/schemas/Product"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ProductUpdatedResponse": {
        "required": [
          "updatedProduct",
          "success"
        ],
        "properties": {
          "updatedProduct": {
            "$ref": "#/components/schemas/Product"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ProductResponse": {
        "required": [
          "product",
          "success"
        ],
        "properties": {
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ClientsResponse": {
        "required": [
          "clients",
          "success"
        ],
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            }
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "Client": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "address_end": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "custom_color": {
                  "type": "string"
                },
                "company": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ClientCreatedResponse": {
        "required": [
          "new_client",
          "success"
        ],
        "properties": {
          "new_client": {
            "$ref": "#/components/schemas/Client"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ClientUpdatedResponse": {
        "required": [
          "updatedClient",
          "success"
        ],
        "properties": {
          "updatedClient": {
            "$ref": "#/components/schemas/Client"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      },
      "ClientResponse": {
        "required": [
          "client",
          "success"
        ],
        "properties": {
          "client": {
            "$ref": "#/components/schemas/Client"
          },
          "success": {
            "type": "boolean",
            "description": "True on success"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}